.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.header input {
  font-size: 30px;
  border: none;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
}
.icons img {
  cursor: pointer;
}