.homepage {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 70px;
  padding: 50px 100px;
  border-radius: 8px;
  background-color: rgb(228, 222, 222);
  box-shadow: 5px 5px 5px lightgray;
}
.button {
  padding: 15px 20px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: rgba(48, 162, 255, 1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 70px;
  box-shadow: 5px 5px 5px rgb(175, 172, 172);
}
